In [7]:
class BankAccount:
    
    def __init__(self, name = 'Dupont', balance = 1000):
        self.name = name
        self.balance = balance
        
    def depozit(self, suma):
        self.balance+=suma
    
    def retragere(self, suma):
        self.balance-=suma
        
    def sold(self):
        print(f'Numele titularului - {self.name}, soldul contului = {self.balance}')
        
cont = BankAccount()
cont.sold()
cont.depozit(200)
cont.sold()
cont.retragere(200)
cont.sold()

Numele titularului - Dupont, soldul contului = 1000
Numele titularului - Dupont, soldul contului = 1200
Numele titularului - Dupont, soldul contului = 1000

In [15]:
class Car:
    
    def __init__(self, marca = 'Ford', culoare = 'rosu', sofer = 'persoana', viteza = 0):
        self.marca = marca
        self.culoare = culoare
        self.sofer = sofer
        self.viteza = viteza
        
    def alege_sofer(self,nume):
        self.sofer = nume
        
    def accelerare(self, rata, durata):
        if self.sofer!='None':
            self.viteza+= rata*durata
            self.viteza = max(0, self.viteza)
            
    def afiseaza_tot(self):
        print(f'Marca: {self.marca}')
        print(f'Culoare: {self.culoare}') 
        print(f'Sofer: {self.sofer}') 
        print(f'Viteza: {self.viteza} m/s') 

a1 = Car()
a1.afiseaza_tot()
print()
a1.alege_sofer('Marcel')
a1.afiseaza_tot()
print()
a1.accelerare(10,20)
a1.afiseaza_tot()
print()
a1.accelerare(-10,30)
a1.afiseaza_tot()

Marca: Ford
Culoare: rosu
Sofer: persoana
Viteza: 0 m/s

Marca: Ford
Culoare: rosu
Sofer: Marcel
Viteza: 0 m/s

Marca: Ford
Culoare: rosu
Sofer: Marcel
Viteza: 200 m/s

Marca: Ford
Culoare: rosu
Sofer: Marcel
Viteza: 0 m/s

In [14]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",user="root",password="")

In [16]:
# mycursor = mydb.cursor()
# mycursor.execute("DROP TABLE recensamant2")

In [17]:
# a. Creați o nouă bază de date numită recensamant.db
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE recensamant2")
#Verficam daca exista baza de date
mycursor.execute("SHOW DATABASES")
for x in mycursor:print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('recensamant',)
('recensamant2',)
('test',)

In [19]:
# b. Faceți un tabel a bazei de date numit Densitate care va conține numele provinciei sau teritoriului (TEXT), populația (INTEGER) și aria suprafeței (REAL)
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="recensamant2")
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Densitate (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(30), populatia INT UNSIGNED, suprafata_km2 REAL UNSIGNED)")
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:print(x)

('densitate',)

In [20]:
# c. Adaugam valorile
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="recensamant2")
mycursor = mydb.cursor()
sql = "INSERT INTO densitate (name, populatia, suprafata_km2) VALUES (%s, %s, %s)"
val = [
  ('Ontario', '13448494', '908699.33'),
  ('Quebec', '8164361', '1356625.27'),
  ('British Columbia', '4648055', '922503.01'),
  ('Alberta', '4067175', '640330.46'),
  ('Manitoba', '1278365', '552370.99'),
  ('Saskatchewan', '1098352', '588243.54'),
  ('Nova Scotia', '923598', '52942.27'),
  ('New Brunswick', '747101', '71388.81'),
  ('Newfoundland and Labrador', '519716', '370514.08'),
  ('Prince Edward Island', '142907', '5686.03'),
  ('Northwest Territories', '41786', '1143793.86'),
  ('Nunavut', '35944', '1877778.53'),
  ('Yukon', '35874', '474712.68')
]
mycursor.executemany(sql, val)
mydb.commit()
print(f"Au fost introduse {mycursor.rowcount} intrari.")

Au fost introduse 13 intrari.

In [21]:
# d. Afisarea conținutul tabelului
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="recensamant2")
mycursor = mydb.cursor()
mycursor.execute("Select * FROM densitate")
for x in mycursor: print(x)

(1, 'Ontario', 13448494, 908699.33)
(2, 'Quebec', 8164361, 1356625.27)
(3, 'British Columbia', 4648055, 922503.01)
(4, 'Alberta', 4067175, 640330.46)
(5, 'Manitoba', 1278365, 552370.99)
(6, 'Saskatchewan', 1098352, 588243.54)
(7, 'Nova Scotia', 923598, 52942.27)
(8, 'New Brunswick', 747101, 71388.81)
(9, 'Newfoundland and Labrador', 519716, 370514.08)
(10, 'Prince Edward Island', 142907, 5686.03)
(11, 'Northwest Territories', 41786, 1143793.86)
(12, 'Nunavut', 35944, 1877778.53)
(13, 'Yukon', 35874, 474712.68)

In [22]:
# e. Afisarea populatiei
mycursor.execute("Select populatia FROM densitate")
for x in mycursor: print(x)

(13448494,)
(8164361,)
(4648055,)
(4067175,)
(1278365,)
(1098352,)
(923598,)
(747101,)
(519716,)
(142907,)
(41786,)
(35944,)
(35874,)

In [23]:
# f. Afișați provinciile cu populații mai mici de un million
mycursor.execute("Select name FROM densitate WHERE populatia < 1000000")
for x in mycursor: print(x)

('Nova Scotia',)
('New Brunswick',)
('Newfoundland and Labrador',)
('Prince Edward Island',)
('Northwest Territories',)
('Nunavut',)
('Yukon',)

In [24]:
# g. Afișați provinciile cu populații mai mici de un million sau mai mult de cinci milioane
mycursor.execute("Select name FROM densitate WHERE populatia < 1000000 OR populatia > 5000000")
for x in mycursor: print(x)

('Ontario',)
('Quebec',)
('Nova Scotia',)
('New Brunswick',)
('Newfoundland and Labrador',)
('Prince Edward Island',)
('Northwest Territories',)
('Nunavut',)
('Yukon',)

In [25]:
#h. Afișați provinciile care nu au populații mai mici de un milion sau mai mult de cinci milioane
#mycursor.execute("Select name FROM densitate WHERE populatia > 1000000 AND populatia < 5000000")
mycursor.execute("Select name FROM densitate WHERE populatia BETWEEN 1000000 AND 7000000")
for x in mycursor: print(x)

('British Columbia',)
('Alberta',)
('Manitoba',)
('Saskatchewan',)

In [26]:
#i. Afișați populațiile provinciilor care au aria suprafeței mai mare de 200.000 de kilometri pătrați
mycursor.execute("Select populatia FROM densitate WHERE suprafata_km2 > 200000 ")
for x in mycursor: print(x)

(13448494,)
(8164361,)
(4648055,)
(4067175,)
(1278365,)
(1098352,)
(519716,)
(41786,)
(35944,)
(35874,)

In [27]:
#j. Afișați provinciile împreună cu densitățile populației (populația împărțită pe arie)
mycursor.execute("Select name, populatia/suprafata_km2 AS Densitate FROM densitate ")
for x in mycursor: print(x)

('Ontario', 14.799718186212376)
('Quebec', 6.0181401456571715)
('British Columbia', 5.038525565352898)
('Alberta', 6.35168128656569)
('Manitoba', 2.3143232051342886)
('Saskatchewan', 1.867172225979736)
('Nova Scotia', 17.445379655991328)
('New Brunswick', 10.46523958026475)
('Newfoundland and Labrador', 1.4026889342504878)
('Prince Edward Island', 25.13300140871575)
('Northwest Territories', 0.03653280670697078)
('Nunavut', 0.019141767479895513)
('Yukon', 0.07556992157866944)

In [ ]:
#### 4

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="",database="recensamant")
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Capitale (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(30), capitala VARCHAR(15), populatia INT UNSIGNED)")
sql = "INSERT INTO Capitale (name, capitala, populatia) VALUES (%s, %s, %s)"
val = [
  ('Ontario', 'Toronto', '13448494'),
  ('Quebec', 'Quebec City', '8164361'),
  ('British Columbia', 'Victoria', '4648055'),
  ('Alberta', 'Edmonton', '4067175'),
  ('Manitoba', 'Winnipeg', '1278365'),
  ('Saskatchewan', 'Regina', '1098352'),
  ('Nova Scotia', 'Halifax', '923598'),
  ('New Brunswick', 'Fredericton', '747101'),
  ('Newfoundland and Labrador', 'St John\'s', '519716'),
  ('Prince Edward Island', 'Charlottetown', '142907'),
  ('Northwest Territories', 'Yellowknife', '41786'),
  ('Nunavut', 'Iqaluit', '35944'),
  ('Yukon', 'Whitehorse', '35874')
]
mycursor.executemany(sql, val)
mydb.commit()
print(f"Au fost introduse {mycursor.rowcount} intrari.")

In [ ]:
# a. Afisarea conținutul tabelului
mycursor.execute("Select * FROM Capitale")
for x in mycursor: print(x)

In [ ]:
#b. Afișați populațiile provinciilor și capitalelor (într-o listă de tuple de formă [populația provinciei, populația de capital])
lista = []
mycursor.execute("Select densitate.populatia, Capitale.populatia FROM densitate, Capitale WHERE densitate.id = Capitale.id" )
for x in mycursor: lista.append(x)
print(lista)

In [ ]:
#c. Afișați aria suprafeței a provinciilor ale căror capitale au populații mai mari de 100.000
mycursor.execute("Select densitate.suprafata_km2 FROM densitate, Capitale WHERE densitate.id = Capitale.id AND Capitale.populatia > 100000" )
for x in mycursor: print(x)

In [ ]:
#d. Afișați provinciile cu densități ale terenurilor mai mici de două persoane pe kilometru pătrat și populații de capital mai mult de 500.000
mycursor.execute("Select densitate.name FROM densitate, Capitale WHERE densitate.id = Capitale.id AND densitate.populatia/densitate.suprafata_km2 < 2 AND Capitale.populatia > 50000")
for x in mycursor: print(x)

In [ ]:
#e. Afișați suprafața totală a Canadei
mycursor.execute("Select SUM(suprafata_km2) FROM densitate")
for x in mycursor: print(x)

In [ ]:
#f. Afișarea media populației capitalelor 
mycursor.execute("Select AVG(populatia) FROM Capitale")
for x in mycursor: print(x)

In [ ]:
#g. Afișați cea mai mică populație a capitalei
mycursor.execute("Select MIN(populatia) FROM Capitale")
for x in mycursor: print(x)

In [ ]:
#h. Afișați populația cea mai mare provincie / teritoriu
mycursor.execute("Select MAX(populatia) FROM densitate")
for x in mycursor: print(x)

In [29]:
#i. Afișarea provinciilor care au densități în limita a 0.5 persoane pe kilometru pătrat
mycursor.execute("Select name FROM densitate WHERE populatia/suprafata_km2 < 0.5")
for x in mycursor: print(x)

Au fost introduse 13 intrari.
(1, 'Ontario', 'Toronto', 13448494)
(2, 'Quebec', 'Quebec City', 8164361)
(3, 'British Columbia', 'Victoria', 4648055)
(4, 'Alberta', 'Edmonton', 4067175)
(5, 'Manitoba', 'Winnipeg', 1278365)
(6, 'Saskatchewan', 'Regina', 1098352)
(7, 'Nova Scotia', 'Halifax', 923598)
(8, 'New Brunswick', 'Fredericton', 747101)
(9, 'Newfoundland and Labrador', "St John's", 519716)
(10, 'Prince Edward Island', 'Charlottetown', 142907)
(11, 'Northwest Territories', 'Yellowknife', 41786)
(12, 'Nunavut', 'Iqaluit', 35944)
(13, 'Yukon', 'Whitehorse', 35874)
[(13448494, 13448494), (8164361, 8164361), (4648055, 4648055), (4067175, 4067175), (1278365, 1278365), (1098352, 1098352), (923598, 923598), (747101, 747101), (519716, 519716), (142907, 142907), (41786, 41786), (35944, 35944), (35874, 35874)]
(908699.33,)
(1356625.27,)
(922503.01,)
(640330.46,)
(552370.99,)
(588243.54,)
(52942.27,)
(71388.81,)
(370514.08,)
(5686.03,)
('Saskatchewan',)
('Newfoundland and Labrador',)
(17931177.72,)
(Decimal('2703979.0769'),)
(35874,)
(13448494,)
('Northwest Territories',)
('Nunavut',)
('Yukon',)
('Northwest Territories',)
('Nunavut',)
('Yukon',)

In [ ]:
## 5

In [35]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="recensamant")

In [37]:
# a. Creați o nouă bază de date
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE db_ex5")

In [38]:
#Verficam daca exista baza de date


mycursor.execute("SHOW DATABASES")
for x in mycursor:print(x)

('db_ex5',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('recensamant',)
('recensamant2',)
('test',)

In [39]:
#CREATE TABLE Numbers(Val INTEGER)
mycursor.execute("CREATE TABLE Numbers(Val INTEGER)")
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:print(x)

('capitale',)
('densitate',)
('numbers',)

In [40]:
#INSERT INTO Numbers Values(1)
#INSERT INTO Numbers Values(2)
mycursor.execute("INSERT INTO Numbers Values(1)")
mycursor.execute("INSERT INTO Numbers Values(2)")
mydb.commit()

In [41]:
mycursor.execute("Select * FROM Numbers")
for x in mycursor: print(x)

(1,)
(2,)

In [42]:
#SELECT * FROM Numbers WHERE 1/0
mycursor.execute("SELECT * FROM Numbers WHERE 1/0")
for x in mycursor: print(x) #nici un rezultat

In [43]:
#SELECT * FROM Numbers WHERE 1/0 AND Val > 0
mycursor.execute("SELECT * FROM Numbers WHERE 1/0 AND Val > 0")
for x in mycursor: print(x) #nici un rezultat

In [44]:
#SELECT * FROM Numbers WHERE Val > 0 AND 1/0
mycursor.execute("SELECT * FROM Numbers WHERE Val > 0 AND 1/0")
for x in mycursor: print(x) #nici un rezultat

In [ ]:
# Ex 6

def find_min_max(values):
    ''' (list) -> NoneType
    Print the minimum and maximum value from values.'''

    min = 999

    max = -999

    for value in values:
        if value > max:
            max = value
        if value < min:
            min = value

    print('The minimum value is {0}'.format(min))
    print('The maximum value is {0}'.format(max))

In [19]:
find_min_max([1,4,7,9,0])

The minimum value is 0
The maximum value is 9

In [28]:
#ex 7
def average (values):

    ''' (list of number)-> number

    Return the average of the numbers in values. Some items in values are
    None, and they are not counted toward the average.

    »> average([20, 301)

    25.0

    »> average( [None, 20, 30])

    25.0
    '''
    count = 0 # The number of values seen so far.
    total = 0 # The sum of the values seen so far.

    for value in values:
        if value is not None:
            total += value
            count+= 1

    return total / count

In [29]:
print(average([1,2,3,4,5]))
print(average([1,2,None]))

3.0
1.5

In [6]:
#ex 8
def func(n):
    return len(n)

n = int(input())
rg = range(n+1)
l = list(map(lambda x: 2**x, rg))
for i in range(len(l)):
    print(f'2 la puterea {rg[i]} este {l[i]}')

 10

2 la puterea 0 este 1
2 la puterea 1 este 2
2 la puterea 2 este 4
2 la puterea 3 este 8
2 la puterea 4 este 16
2 la puterea 5 este 32
2 la puterea 6 este 64
2 la puterea 7 este 128
2 la puterea 8 este 256
2 la puterea 9 este 512
2 la puterea 10 este 1024